.spacing{
    margin-top: 40px;
}

.letterwidth{
    font-size: 20px;
}

.bottomspacing{
    margin-bottom: 40px;
}

.navbkgd{
    background-color: lightseagreen;
}

.searchbk{
    background-color: mediumvioletred
}